body{
    margin: 0;
    padding: 0;
}
#cards{
    grid-template-columns: repeat(2,1fr);
    width: 90%;
}
.card{
    width: auto;
    padding: 20% 10%;
}

.logo{
    width: 10vh;
}       
.heading{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4rem;
    color: white;
}

.disc{
    font-size: 1.25rem;
    font-family: 'Lexend Deca', sans-serif;
    color:  hsla(0, 0%, 100%, 0.75);
}

.btn{
    border: 5px solid hsl(0, 0%, 95%);
    cursor: pointer;
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 50px;
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    margin-top: 12%;
}